﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.Pagseguro.Models;
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    <table class="adminContent">
    <tr>
        <td colspan="2" width="100%">
            <hr />
        </td>
    </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.WebSiteUrl):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.WebSiteUrl)
                @Html.ValidationMessageFor(model => model.WebSiteUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Email):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Token):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Token)
                @Html.ValidationMessageFor(model => model.Token)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PassProductNamesAndTotals):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PassProductNamesAndTotals)
                @Html.ValidationMessageFor(model => model.PassProductNamesAndTotals)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="t-button">
                    @T("Admin.Common.Save")</button>
            </td>
        </tr>
    </table>
    
}